<div class="container">
  <h1><%= @product.name %></h1>
  <p><%= @product.description %></p>
  <p><%= number_to_currency(@product.price) %></p>
  <% if @product.image.present? %>
    <%= image_tag @product.image, style: 'max-width: 50%;' %>
  <% end %>
  <div style="position: absolute; top: 50%; right: 0; transform: translate(0, -50%);">
  <%= form_for @cart_item, url: add_to_cart_path(@product.id), style: 'display: inline-block;' do |f| %>
    <%= f.submit 'Add to Cart' %>
  <% end %>
</div>

</div>
