<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav>
      <%= link_to 'Cart', cart_path, class: 'cart-button' %></li>
      <%= link_to 'Products List', products_path, class: 'cart-button' %>
    </nav>
    <%= yield %>
  </body>
</html>
